<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>shopWell.ca {{title}}</title>
</head>
<body>
        <header>
           <!-- <h1>{{headingInfo}}</h1> -->
            <img src="/img/logo.png">
            <nav>
                <ul>
                    
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/registration">Registration</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
         </header>
        <main>
            <section>
                {{{body}}}
            </section>
        </main>
        
            <section id="companyInfo">
                <table>
                    <tr>
                        <th>
                            <h2> Customer Service </h2>
                        </th>
                        <th>
                            <h2> About Us </h2>
                        </th>
                        <th>
                            <h2> Services </h2>
                        </th>
                        <th>
                            <h2>shopWell Payment Products</h2>
                        </th>
                    </tr>
                    <tr>
                        <td><a href="#">Contact Us</a></td>
                        <td><a href="#">Careers</a></td>
                        <td><a href="#">Sell on shopWell</a></td>
                        <td><a href="#">shopWell.ca Rewards Mastercard</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Order Status</a></td>
                        <td><a href="#">shopWell Cares</a></td>
                        <td><a href="#">Advertise Your Products</a></td>
                        <td><a href="#">Shop with Points</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Shipping</a></td>
                        <td><a href="#">Site Map</a></td>
                        <td><a href="#">Independently Publish with Us</a></td>
                        <td><a href="#">Reload Your Balance</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Returns & Exchanges</a></td>
                        <td><a href="#">Get Email Updates</a></td>
                        <td><a href="#">Stylists</a></td>
                        <td><a href="#">shopWell Cuurency Converter</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Product Recalls</a></td>
                        <td></td>
                        <td><a href="#">Alterations & Tailoring</a></td>
                        <td><a href="#">Gift Cards</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Give Us Feedback</a></td>
                        <td></td>
                        <td></td>
                        <td><a href="#">shopWell Cash</a></td>
                    </tr>
                </table>
            </section>

        <footer>
              <a href="#">Your Privacy Rights</a>
              <a href="#">Do Not Sell My Info</a>
              <a href="#">Terms & Conditions</a>
              <a href="#">Interest-Based Ads</a>
              <p>2020 shopWell, Inc.</p>
        </footer>     
</body>
</html>